*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base: #555;
  --base-100: #f1f1f1;
  --yellow: #ffda4b;
  --yellow-100: #fffbe6;
  --blue: #0a61ae;
  --blue-100: #e2f8ff;
}

h1 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
}

h2 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
  padding: 30px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: var(--blue);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  border-bottom: 1px solid;

  .logo-holder {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: black;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      height: 64px;
      width: 64px;
    }
    .logo-text {
      flex: 1;
    }
  }

  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style-type: none;
      gap: 5px;
      li {
        a {
          display: inline-block;
          padding: 10px 20px;
          color: var(--base);
          &:hover {
            background-color: var(--base-100);
            border-radius: 10px;
          }
        }
      }
    }
    .mobile-toggle {
      display: none;
      padding: 10px;
      @media (max-width: 768px) {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px) {
    nav {
      width: 100%;
      ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0 20px;
        a {
          width: 100%;
        }
        &.active {
          display: flex;
        }
      }
    }
  }
}

section {
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (max-width: 1440px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.button {
  /* display: inline-block; */
  padding: 10px 30px;
  background-color: var(--blue);
  color: var(--base-100);
  border-radius: 10px;
  transition: ease 0.3s all;
  &:hover {
    background-color: black;
  }
}

.hero {
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .hero-first {
    flex: 1;
    background-color: var(--blue-100);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .call-to-action {
      margin-top: 20px;
      margin-bottom: 10px;
      a {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .hero-second {
    flex: 1;
    background-color: var(--yellow);
    border-radius: 30px;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: cover;
    }
  }
}

.featured {
  .burgers {
    display: flex;
    gap: 30px;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    article {
      background-color: var(--yellow-100);
      padding: 30px;
      border-radius: 30px;
      flex: 1;
      h3 {
        margin-top: 20px;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
      }
      figure {
        padding-top: 10%;
        overflow: hidden;
        img {
          transition: ease 3s all;
        }

        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
